:root {
    --youtube-red: #FE0900;
  }
  
*{
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #181717;
    color: white;
    overflow-x: hidden;
}

  nav {
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 5px black;
    position: fixed;
    top: 0;
    padding: 12px 10px;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 8px;
}



.logo {
    width: 130px;
    cursor: pointer;
}

.menu-item {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.right-menu i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.small-img {
    width: 30px;
    height: 30px;
}

.left-menu {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.right-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.main-container {
    padding: 10px;
  }

.input-box {
    width: 225px;
    padding: 10px 12px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
    background-color: black;
    color:white;
    border-bottom: 1px solid gray;
}

.search-bar {
    position: relative;
    margin: auto;
}

.search-icon {
    padding: 9px 12px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 0;
    background-color: black;
}

.search-icon>i {
    font-size: 18px;
}

main {
    margin: 80px 0 auto auto;
}

/* Footer */

.footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}



/* Video Page */

.video-page {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    margin-bottom: 50px;
    
}
.video-page .video-page-header {
    width: 100%;
    min-height: 600px;
    /* position: relative; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
    display: flex;
}
.video-page .video-page-header:before {
    content: "";
    background: url(../../Pictures/DBMS1.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    height: 98%;
    filter: blur(8px);
    width: 100%;
    z-index: -1;
}
.video-page .video-page-header .video-description {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.video-page .video-page-header .video-description .header-left {
    width: 40%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
.video-page .video-page-header .video-description .header-left img {
    border-radius: 0.25rem;
    height: 390px;
    width: 250px;
    object-fit: cover;
}
/* .video-page .video-page-header .video-description .header-left .my-list {
    border-radius: 0.25rem;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    border: 2px solid #e5dada;
    margin-top: 20px;
    text-transform: uppercase;
    width: 120px;
} */
/* .video-page .video-page-header .video-description .header-left .my-list:hover {
    background-color: #e59500;
}
.video-page .video-page-header .video-description .header-left .my-list i {
    margin-right: 10px;
} */
.video-page .video-page-header .video-description .header-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video-page .video-page-header .video-description .header-right h1 {
    margin-bottom: 0;
}
.video-page .video-page-header .video-description .header-right h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.video-page .video-page-header .video-description .header-right h2 span {
    margin-left: 10px;
    color: #454545;
    font-weight: bold;
}
.video-page .video-page-header .video-description .header-right p {
    color: #888;
}
.video-page .video-page-header .video-description .header-right .info {
    display: flex;
    align-items: flex-end;
    color: #454545;
}
.video-page .video-page-header .video-description .header-right .info h4, .video-page .video-page-header .video-description .header-right .info h5 {
    margin: 0;
    font-size: 18px;
}
.video-page .video-page-header .video-description .header-right .info h5 {
    font-weight: normal;
    margin-left: 10px;
}
/* .video-page .video-page-header .video-description .header-right .rating {
    width: 40px;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: rgba(132, 0, 50, 0.8);
} */
.video-page .streaming-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    position: relative;
}
.video-page .streaming-container img {
    width: 100%;
}
.video-page .streaming-container:after {
    content: "";
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.video-page .streaming-container .streaming-play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    z-index: 2;
    color: #454545;
    
}
.video-page .streaming-container .streaming-play i {
    cursor: pointer;
    transition: all 0.5s;
}
.video-page .streaming-container .streaming-play i:hover {
    color: #e5dada;
}





/* Custom Video Player */
/* :root {
    --youtube-red: #FE0900;
  }
  
  html {
    box-sizing: border-box;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    height: 100%;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100%;
  } */
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container {
    width: 800px;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  video {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  .video-controls {
    right: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.2s ease;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  }
  
  .video-controls.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  .video-progress {
    position: relative;
    height: 8.4px;
    margin-bottom: 10px;
  }
  
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    width: 100%;
    height: 8.4px;
    pointer-events: none;
    position: absolute;
    top: 0;
  }
  
  progress::-webkit-progress-bar {
    background-color: #474545;
    border-radius: 2px;
  }
  
  progress::-webkit-progress-value {
    background: var(--youtube-red);
    border-radius: 2px;
  }
  
  progress::-moz-progress-bar {
    border: 1px solid var(--youtube-red);
    background: var(--youtube-red);
  }
  
  .seek {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
  }
  
  .seek:hover+.seek-tooltip {
    display: block;
  }
  
  .seek-tooltip {
    display: none;
    position: absolute;
    top: -50px;
    margin-left: -20px;
    font-size: 12px;
    padding: 3px;
    content: attr(data-title);
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .bottom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-controls {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .volume-controls {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .subtitles-controls {
    height:45%;
    text-indent:0;
    font-size:16px;
    font-size:1rem;
    font-weight:bold;
    color:#666;
    background:#000;
    border-radius:2px;
  }
  .volume-controls input {
    width: 100px;
    opacity: 1;
    transition: all 0.4s ease;
  }
  
  .volume-controls:hover input, .volume-controls input:focus {
    width: 100px;
    opacity: 1;
  }
  
  button {
    cursor: pointer;
    position: relative;
    margin-right: 7px;
    font-size: 12px;
    padding: 3px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  button * {
    pointer-events: none;
  }
  
  button::before {
    content: attr(data-title);
    position: absolute;
    display: none;
    right: 0;
    top: -50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-weight: bold;
    padding: 4px 6px;
    word-break: keep-all;
    white-space: pre;
  }
  
  button:hover::before {
    display: inline-block;
  }
  
  .fullscreen-button {
    margin-right: 0;
  }
  
  .pip-button svg {
    width: 26px;
    height: 26px;
  }
  
  .playback-animation {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 8.4px;
    background: transparent;
    cursor: pointer;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 1.3px;
    -webkit-appearance: none;
    transition: all 0.4s ease;
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: var(--youtube-red);
    cursor: pointer;
    -webkit-appearance: none;
    margin-left: -1px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  input[type=range].volume {
    height: 5px;
    background-color: #fff;
  }
  
  input[type=range].volume::-webkit-slider-runnable-track {
    background-color: transparent;
  }
  
  input[type=range].volume::-webkit-slider-thumb {
    margin-left: 0;
    height: 14px;
    width: 14px;
    background: #fff;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 1.3px;
  }
  
  input[type=range]::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50px;
    border: 1px solid var(--youtube-red);
    background: var(--youtube-red);
    cursor: pointer;
    margin-top: 5px;
  }
  
  input[type=range]:focus::-moz-range-track {
    outline: none;
  }
  
  input[type=range].volume::-moz-range-thumb {
    border: 1px solid #fff;
    background: #fff;
  }
  
  .hidden {
    display: none;
  }
  
  svg {
    width: 28px;
    height: 28px;
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    }
  a:link { 
    text-decoration: none; 
} 